<div class="container">
  <ngx-spinner>
  </ngx-spinner>

  <form [formGroup]="profileForm"  (ngSubmit)="onSubmit()">

  <div class="row">
       <div  *ngFor="let category of categories " class="radio col-sm-4">
          <div class="panel panel-primary">
            <div class="panel-heading"></div>
              <label class="panel-body">
                <!-- <input type="radio" value="fish" name="food" [(ngModel)]="myFood"> -->
                     <!-- <input type="radio"
                      name="category.name"
                      ngModel
                      [value] = "category.name" >
                      {{category.name}} -->
                      <label>
                         <input type="radio" formControlName="categoryItem" [value] = "category" > {{category.name}}
                       </label>


               </label>
            <div class="panel-footer"></div>
          </div>
        </div>

      </div>
      <div class="row">
          <div class="col-md-12">
            <button type="submit" class="btn btn-danger pull-right" [disabled]="!profileForm.valid">Submit</button>
          </div>
      </div>
    </form>
</div>
<br>