.panel-primary {
  border-color: #f64060;
  border-width: 2px;
}

.select-category {
  text-align: center;
  font-size: xx-large;
  margin-bottom: 30px;
}

.btn {
  width: 345px !important;
  height: 50px !important;
  margin-bottom: 30px;
}
